body {
	font-family: 'arial', sans-serif;
	display: flex;
	flex-direction: column;
}



.form-options {
	display: flex;
	justify-content: space-between;
}

.form-option {
	/*flex-grow: 1;*/
}



.action-input {

	margin: 0.75em 0;

	font-family: 'consolas', sans-serif;
	width: 380px;
	height: 400px;
	resize: none;


}

.action-buttons {
	display: flex;
}

.action-button {
	flex-grow: 1;
}